.apple,
.orange,
.banana {
    background-color: blue;
}

.apple {
    color: red
}
.banana {
    color: yellow
}
.orange {
    color: orange
}

.mango
.cherry {
   background-color: red;
   padding: 10px;
   border-radius: 10px;
   font-weight: bold;
}

/* example: .ancestor > .cherry > #scree */
#scree { color: orange }

.ancestor {
    border: 1px solid green;
    padding: 10px;
}

.ancestor .decendent {
    border: 1px solid green;
}
