div.test {
    width: 50px;
    height: 20px;
}

.apple,
.orange,
.banana {
    background-color: blue;
}

.mango
.cherry {
   background-color: red;
   padding: 10px;
   border-radius: 10px;
   font-weight: bold;
}

/* .apple > div */
#scree { color: orange }

.ancester {
    border: 1px solid green;
    padding: 10px;
}

.ancester .decendent {
    border: 1px solid green;
}
